# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*~

# IDEs (VS Code, Android Studio, IntelliJ)
*.iml
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub (адаптировано под папку src/)
src/.dart_tool/
src/.flutter-plugins
src/.flutter-plugins-dependencies
src/.packages
src/.pub-cache/
src/.pub/
src/build/
src/flutter_*.png

# Android (внутри src/)
src/android/**/gradle-wrapper.jar
src/android/.gradle/
src/android/captures/
src/android/gradlew
src/android/gradlew.bat
src/android/local.properties
src/android/key.properties
*.jks
*.keystore

# iOS/XCode (внутри src/)
src/ios/**/*.mode1v3
src/ios/**/*.mode2v3
src/ios/**/*.moved-aside
src/ios/**/*.pbxuser
src/ios/**/*.perspectivev3
src/ios/**/*sync/
src/ios/**/.sconsign.dblite
src/ios/**/.tags*
src/ios/**/.vagrant/
src/ios/**/DerivedData/
src/ios/**/Icon?
src/ios/**/Pods/
src/ios/**/.symlinks/
src/ios/**/profile
src/ios/**/xcuserdata
src/ios/.generated/
src/ios/Flutter/.last_build_id
src/ios/Flutter/App.framework
src/ios/Flutter/Flutter.framework
src/ios/Flutter/Flutter.podspec
src/ios/Flutter/Generated.xcconfig
src/ios/Flutter/app.flx
src/ios/Flutter/app.zip
src/ios/Flutter/flutter_assets/
src/ios/Flutter/flutter_export_environment.sh
src/ios/ServiceDefinitions.json
src/ios/Runner/GeneratedPluginRegistrant.*

# macOS (внутри src/)
src/macos/Flutter/GeneratedPluginRegistrant.swift
src/macos/Flutter/ephemeral/
src/macos/Pods/

# Windows (внутри src/)
src/windows/flutter/ephemeral/
src/windows/flutter/generated_plugin_registrant.cc
src/windows/flutter/generated_plugin_registrant.h
src/windows/flutter/generated_plugins.cmake

# Linux (внутри src/)
src/linux/flutter/ephemeral/
src/linux/flutter/generated_plugin_registrant.cc
src/linux/flutter/generated_plugin_registrant.h
src/linux/flutter/generated_plugins.cmake

# Exceptions
!src/ios/**/default.mode1v3
!src/ios/**/default.mode2v3
!src/ios/**/default.pbxuser
!src/ios/**/default.perspectivev3